header {
     background: black;
     padding: 20px 0;
  }

  .caixa {
      position: relative;
      width: 940px;
      margin: 0 auto;
  }

  nav {
      position: absolute;
      top: 110px;
      right: 0;
  }

  nav li {
      display: inline;
      margin: 0 0 0 15px;
      color: #F6F1D1;
  }

  nav a {
      text-transform: uppercase;
      color:  #F6F1D1;;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
  } 

  nav a:hover {
      color: brown;
      text-decoration: underline ;
  }

 .bgminhaconta {
     background:black;    
     margin: auto;

 }
 .bgcontato {
     background:  white;
     width: 940px;
     margin: auto;
 }

 .favoritos {
     width: 940px;
     margin: 0 auto;
     padding: 50px 0;

 }

 .favoritos li {
     display: inline-block;
     text-align: center;
     width: 30%;
     vertical-align: top;
     margin: 0 1.5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border: 2px solid brown;
     border-radius: 10px;
 }

 .favoritos li:hover {
     border-color: brown;
 }

 .favoritos li:active {
     border-color: white;
 }

 .favoritos li:hover h2 {
     font-size: 34px;
}

 .favoritos h2 {
     font-size: 28px;
     font-weight: bold;
     color:  #F6F1D1;
 }

.favoritos a {
    text-decoration: none;
}

form {
     margin: 40px 0;
}

form label, form legend {
     display: block;
     font-size: 20px;
     margin: 0 0 10px;
}

.input-padrao {
     display: block;
     margin: 0 0 20px;
     padding: 10px 25px;
     width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: brown;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: burlywood;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: grey;
    color: brown;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

.copyright {
        color: black;
        font-size: 13px;
        margin: 20px 0 0;
        text-align: center;
}

body {
    margin: 0;
  }

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
  }

.todo-list {
    background-color: black;
    padding: 40px;
    min-width: 400px;
    min-height: 300px;
  }
  
.title {
    border-bottom: 1px solid brown;
    font-size: 1.5rem;
    color: #F6F1D1;
  }
  
.form {
    display: flex;
    justify-content: center;
 
  }
   
  .form-input,
  .form-button {
    border-radius: 0;
    padding: 0.75rem;
    font-size: 0.75rem;
  }
  
  .form-input {
    outline: none;
    background-color: #F6F1D1;
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .form-button {
    border: 1px;
    background: #F6F1D1;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0.25rem;
  }
  
  .form-button:hover {
    color: #F6F1D1;
    background: rgba(246, 241, 209, 0.1);
  }
   
  .list {
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
  .task {
    background-color: black;
    color: #F6F1D1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 1rem 3rem;
  }
  
  .check-button, .botaoDeletan {
    background-color: #F6F1D1;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .task.done .check-button {
    background-color:black;
    color: #F6F1D1;
  }
  
  .check-icon {
    display: block;
    padding: 1px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .task.done .check-icon {
    background-color: #0B2027;
  }
  
  .content {
    margin: 0;
  }
  
  .task.done .content {
    text-decoration: line-through;
  }